.u-section-1 .u-sheet-1 {
  min-height: 194px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 819px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 52px 951px 0 96px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -32px 657px 0 390px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -39px 365px 0 682px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -32px 72px 0 975px;
}

.u-section-2 .u-gallery-1 {
  height: 497px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 847px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 557px;
    margin-left: 321px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 265px;
    margin-left: 562px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 847px;
  }

  .u-section-2 .u-gallery-1 {
    height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -425px;
    margin-right: 627px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 447px;
    margin-left: 246px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -37px;
    margin-right: 155px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 627px;
  }

  .u-section-2 .u-gallery-1 {
    height: 748px;
    grid-template-columns: auto auto;
    margin-top: 621px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4216px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1578px;
    margin-right: 447px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 357px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 65px;
    margin-left: 323px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 447px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2243px;
    grid-template-columns: auto;
    margin-top: 1742px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2745px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -938px;
    margin-right: 247px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 247px;
    margin-left: 116px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 203px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 247px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1412px;
    margin-top: 1102px;
  }
}